doctype html
html(lang=en)
    head
        title My PUG App
        link(rel="stylesheet", href="style.css")
    body
    include includes\header.pug
        block appContent

    include includes\footer.pug